<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Your account has been activated</h1>
  <p>Hello <%= @user.name %>,</p>
  <p>Your account has now been activated. You can now sign in and start using the application.</p>
  <p>Thanks for joining us!</p>
</body>
</html>
