<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Your account is pending approval</h1>
  <p>Hello <%= @user.name %>,</p>
  <p>Your account is currently pending approval by an administrator. You will receive an email once your account has been activated.</p>
  <p>Thank you for your patience!</p>
</body>
</html>
