<h1>Want to join EquiSphere?</h1>

<p>Unlock exclusive trading opportunities on EquiSphere. Choose from over 10,000 stocks and enjoy the benefits of deep liquidity, round-the-clock support, and excellent APRs.</p>

<p>Please click the link below to complete your registration:</p>

<%= link_to "Sign Up", @invitation_link %>

<p>We're excited to have you onboard!</p>

<p>Sincerely,<br/>
The EquiSphere Team</p>