<!-- app/views/admin_mailer/new_user_waiting_for_approval.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>New User Waiting for Approval</h1>
  <p>A new user with email <%= @email %> is awaiting admin approval.</p>
</body>
</html>
