<h1>New User Invitation</h1>

<p>A new user has been invited to EquiSphere.</p>

<p>User details:</p>
<ul>
  <li>Email: <%= @invited_user.email %></li>
</ul>

<p>Please visit the admin panel to manage user accounts.</p>